@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');
body{
    font-family: 'Josefin Sans', sans-serif!important;
}
img{
    max-width: 100%;
}

.imageWrapper{
    position: relative;
}
.imageWrapper .overlayContent {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageWrapper .overlayContent a{
    position: relative;
}
.imageWrapper .overlayContent:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(239, 239, 239, 0.58);
}

.singleProject img{
    width: 100%;
}

.section-padding{
    padding: 120px;
}
.home_area{
    height: 100vh;
    display: flex;
}

.about{
    font-size: 28px;
    font-weight: 400;
    color: #8297bd;
    padding: 70px;
    box-shadow: 0px 0px 20px rgba(210, 200, 247, 0.47)
}
.about a{
    text-decoration: underline;
}